/* * * BASE STYLES * * */

/* * * HOME PAGE * * */
html{
	font-size: 16px;
}

body{
  background-color: #ffffff;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1em;
  display: flex;
	justify-content: center;
  flex-flow: row wrap;
	align-items: center;
	margin: 0 auto;
}

/* * * * * GRID * * * * */

.full-width{
  overflow: auto;
  width: 1200px;
}

.half-width{
  width: 600px;
}

.third-width{
  width: 400px;
}

/* * * HEADER * * */

header{
  display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  flex-flow: row wrap;
  text-align: center;
  margin: 0;
	padding: 0;
  padding-top: 2em;
}

h1{
  color: #fc6161;
  font-family: 'El Messiri', sans-serif;
  font-size: 3em;
  font-variant: small-caps;
  font-weight: 100;
  letter-spacing: 0.030em;
  line-height: 0.875;
  text-align: center;
  text-transform: capitalize;
  word-spacing: 0.313em;
  display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  flex-flow: row wrap;

}

.brand-name{
  font-family: 'El Messiri', sans-serif;
  font-size: 3.5em;
  font-weight: lighter;
  color: #723d46;
  text-align: center;
  display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  flex-flow: row wrap;
}


/* * * NAVIGATION MENU * * */


.top-navbar {
  overflow: hidden;
  padding: 2em 0;
  text-align: center;
  display: flex;
	justify-content: center;
	align-items: center;
  width: 70%;
  text-align: center;
  flex-flow: : row wrap;
}

.top-navbar a {
  font-size: 1.125em;
  font-weight: 100;
  color: #723d46;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  text-align: center;
}

.top-navbar a:hover{
  background-color: #ffffff;
  color: #fc6161;
}

.bottom-navbar{
  text-align: center;
  width: 100%;
	padding-bottom: 3em;
}

.bottom-navbar ul{
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.bottom-navbar ul li{
	padding-right: 2em;
  font-size: 1.5em;
}

.bottom-navbar ul li a{
  color: #723d46;
}

.bottom-navbar ul li a:hover{
  color: #fc6161;
  }

/* * * ABOUT * * */

main{
  display: flex;
	justify-content: center;
	align-items: center;
  flex-flow: row wrap;
}

section{
  display: flex;
	justify-content: center;
	align-items: center;
  flex-flow: row wrap;
}

#about .full-width {
  margin: 0 auto;
  padding: 1.25em;
  text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

#about-img{
  border: 2px solid #723d46;
  border-radius: 50%;
  width:60%;
  text-align: center;
}

#about h2{
  color: #fc6161;
  font-size: 2.188em;
  font-variant: small-caps;
  font-weight: 100;
  letter-spacing: 0.100em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: capitalize;
}

#about p{
  text-align: center;
  padding: 1em 2.5em;
  letter-spacing: 0.063em;
  line-height: 1.563em;
	max-width: 100%;
}

.sustainability{
  color: #fc6161;
  font-size: 1.563em;
  font-weight: 100;
  line-height: 3em;
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
}

/* * * PORTFOLIO * * */

#portfolio .full-width{
  margin: 0 auto;
	padding: 1.25em;
  text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	max-width: 100%;
}

#portfolio h2{
  color: #fc6161;
  font-size: 2.188em;
  font-variant: small-caps;
  font-weight: 100;
  letter-spacing: 0.100em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: capitalize;
}

#portfolio .third-width{
  text-align: center;
}

#bday-img{
  border: 2px solid #723d46;
	max-width: 100%;
}

#wedding-img{
  border: 2px solid #723d46;
	max-width: 100%;
}

#cafe-img{
  border: 2px solid #723d46;
	max-width: 100%;
}

#portfolio h3{
  text-align: center;
  padding: 1em 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 25px;
	max-width: 100%;
}

#portfolio p{
  font-size: 1.125em;
  text-align: center;
  padding-bottom: 10px;
  color: #723d46;
  letter-spacing: 1px;
}

#portfolio a{
  text-decoration: none;
  color: #723d46;
}

#portfolio a:hover{
  color: #fc6161;
}

hr{
  border: 0.031em solid #fc6161;
  border-radius: 0.125em;
  width: 400px;
}

/* * * FOOTER * * */

footer{
  display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1.25em;
	max-width: 100%;
}

#contact .full-width{
  margin: 0 auto;
}

.instagram-widgets{
  text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.icons{
  text-align: center;
  padding-bottom: 15px;
}

.icons a{
  text-align: center;
  color: #723d46;
}

.icons a:hover{
  color: #fc6161;
  }

.icons ul{
  list-style: none;
  text-align: center;
  padding-top: 50px;
  }

.icons ul li{
  display: inline-block;
	padding-right: 3em;
  font-size: 1.5em;
  }

.contact p{
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.contact p a{
  color: #000000;
}

.contact a:hover{
  color: #fc6161;;
}

.copyright h6{
  text-align: center;
  font-size: 12px;
  padding-top: 80px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}



/* * * PORTFOLIO PAGE * * */



/* * * PROJECTS * * */

#portfolios{
  padding: 1.25em;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}

h2{
  color: #fc6161;
  font-size: 2.188em;
  font-variant: small-caps;
  font-weight: 100;
  letter-spacing: 0.100em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: capitalize;
}

.projects{

  overflow: auto;
  padding-top: 2.5em;
	max-width: 100%;
}

.sub-title h3{
  font-size: 1.875em;
  color: #fc6161;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-variant: small-caps;
  text-transform: capitalize;
  padding-bottom: 2.5em;
}

.grid-container {
  display: flex;
  justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
}

.projects p{

  padding-left: 0px;
}

.projects p span{
  margin-top: 30px;
}

.image img{
  border: 1px solid #723d46;
  margin: 2px;
  max-width: 20%;
  overflow: hidden;


}

.description{
  text-align: left;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 100;
}

#aa-wedding p{
  padding-left: 28px;
}

#botannix p{
  padding-left: 50px;
}

#barrette .image img{
  max-width: 50%;
}

#barrette .image{
  padding-left: 120px;
  padding-right: 200px;
}

#barrette p{
}

#crowns .image{
  padding-right: 100px;
}

#crowns .image img{
  max-width: 50%;
}

#crowns p{
  padding-left: 130px;
}

#baby-bouquet .image img{
  max-width: 50%;
}

#baby-bouquet .image{
  padding-left: 120px;
  padding-right: 200px;
}

#baby-bouquet p{
}

#garland .image{
  padding-right: 60px;
}

#garland .image img{
  max-width: 50%;
}

#garland p{
  padding-left: 130px;
}

#workshop .image img{
  margin: 8px;
  text-align: center;
}

#workshop .image{
  padding-left: 50px;
}

#workshop p{
  margin: 0 auto;
  display: inline;
}

#workshop p span{
  text-align: center;
  padding: 30px 50px 0 0;
  margin: 0 auto;
}

#faqs .full-width{
  padding: 20px;
  margin: 0 auto;
}

h4{
  color: #fc6161;
  font-size: 25px;
  font-weight: 100;
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
}

ul {
  list-style-type: circle;
  margin: 0;
  overflow: hidden;
  text-align: left;
  padding-bottom: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}

.questions{
  font-style: italic;
  color: #723d46;
  font-weight: bolder;
}

.answers{
  padding: 10 0 20px 0;
}

h5{
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
  color: #fc6161;
  letter-spacing: 1px;
  font-weight: 100;
}
